
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    background-color: #302D33;
    height: 73px;
    width: 100%
}
.container-header{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.logo-img{
    width: 320px;
    margin-right: 100px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 790px;
}

.nav-header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.container-banner{
    height: 420px;
    position:relative;
}

.banner-img{
    width:100%;
    margin-top: -2px;
}

.conteudo-banner{
    position: absolute;
    top: 88px;
    right: 130px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

 h1{
    color:white;
    font-size: 68px;
    font-family: 'Titillium Web', sans-serif;
    width: 420px;
}

.conteudo-banner span{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: -6px;
}

.botao-inscrever{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    background: #FF8500;
    border-radius: 10px;
    width: 207px;
    height: 51px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 110px;
    border-color: black;
    border-style: solid;
    border-width: thin;
}
    
.container-img{
    height: 132px;
    background-color: #413C49;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-jogos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: inherit;
}