
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    position: fixed;
    background-color: #302D33;
    height: 73px;
    width: 100%;
    top: 0%;
    z-index: 99;
}
.container-header{
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.logo-img{
    width: 320px;
    margin-right: 100px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 790px;
}

.nav-header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* MAIN */

main{
    margin-top: 73px;
}

.container-banner{
    height: 600px;
    background-image: url(../assets/banner-img1.png);
    background-repeat: no-repeat;
    margin-top: -3px;
    background-size: cover;
}

.container-conteudo-banner{
    display: flex;
    justify-content: end;
    margin: 0px auto;
    height: 100%;
    width: auto;

}

.conteudo-banner{
    display: flex;
    flex-direction: column; 
    width: 645px;
    height: 350px;
    align-items: center;
    margin: auto 0px;
}

 h1{
    color:white;
    font-size: 68px;
    font-family: 'Titillium Web', sans-serif;
    width: 420px;
}

.conteudo-banner span{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

.botao-inscrever{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    background: #FF8500;
    border-radius: 10px;
    width: 207px;
    height: 51px;
    margin-top: 100px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    text-align: center;
}
    
.container-img{
    height: 132px;
    background-color: #413C49;
    display: flex;
    align-items: center;
}

.img-jogos{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ligas{
    width: 100%;
    height: 520px;
    background-image: url(../assets/bg-lol\ 1.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-retangulo{
    clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 9%);
    background-color: #413C49;
    height: 100%;
    width: 100%;
}   

.conteudo-container{
    display: flex;
    align-items: center;
    height: 100%;
}

.conteudo-retangulo{
    width: 600px;
}

h2{
    color: white;
    font-size: 35px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin-bottom: 35px;
}

.conteudo-retangulo span{
    color: white;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}

.img-personagem{
    position: absolute;
    top: 0px;
    right: 0px;
    width:843px;
}

.partidas-aovivo{
    display: flex;
    background-color:#413C49;
    width: 100%;
    height: 132px;
}

.conteudo-box-partidas{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-box-partidas span{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    width: 89px;
}

.noticias-partidas{
    height: 975px;
    width: 100%;
    background-color: #1E1C21;
}

.container-noticias-partidas{
    display: flex;
    justify-content: space-between;
    height: 750px;
}

.container-todas-noticias{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 810px;
    margin-top: 90px;
    align-items: center;
}

.titulos{
    display: flex;
    justify-content: space-between;
    margin-bottom: -30px
}

.titulos span{
    color: white;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin-top: 40px;
}


.container-noticias{
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.box-noticias{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 200px; 
}

.img-noticias{
    height: 200px;
    width: 115%;
}

.conteudo-noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:url(../assets/fundo-noticia.png);
    width: 240px;
    height: 304px;
}

.conteudo-noticia span{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 165px;
    text-align: start;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.conteudo-noticia p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 153px;
}

.container-proximos-jogos{
    background-image: url(../assets/fundo-proximos-jogos.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 770px;
    margin-top: 85px;
}

.box-jogos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    height: 720px;
}

.box-jogos span{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-top: -45px
}

footer {
    height: 357px;
    width: 100%;
    background-color: #302D33;
    padding: 49px 0px;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.posicionar-listas {
    height: 100%;
    width: 332px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulos-footer {
    display: flex;
    justify-content: space-between;
    width: 306px;
    margin-bottom: 40px;
}

.titulos-footer span {
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.container-listas {
    display: flex;
    justify-content: space-around;
    width: 400px;
}

.links-uteis {
    padding-right: 10px;
}

.links-uteis li a {
    text-decoration: none;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 12px 0px 0 0;
}

.links-uteis li {
    color: white;
     font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 12px 0px 0 0;
}

.paginas li a {
    text-decoration: none;
    color: white;
     font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 12px 25px 0 0;
}

.paginas li {
    color: white;
     font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 12px 25px 0 0;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 490px;
}

.cadastrar {
    height: 77px;
    width: 362px;
}

.cadastrar span {
    color: white;
     font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.box-cadastro {
    display: flex;
    margin-top: 10px;
}

.box-email {
    width: 204px;
    height: 34px;
}

.btn-cadastrar {
    color: #fff;
    text-transform: uppercase;
    background-color: #FF8500;
    width: 151px;
    height: 34px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.redes-socias {
    display: flex;
    justify-content: space-between;
}

.redes-socias span {
    color: white;
     font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.cadastro-redessociais {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 355px;
    height: 100%;
}



/* TELA DE CADASTRO DE TIMES */

.banner-cadastro{
    background-image: url(../assets/bg-lol\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:250px;
}

.box-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.conteudo-banner1 h1{
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.container-cadastro-listas{
    background-color: #1E1C21;
    width: 100%;
    height: 1000px;
}

.organizar-campos{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.campo-cadastro{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 800px;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
}

.campo-nome-da-equipe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50px;
}

.campo-cadastro span{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.box-nome-equipe{
    background-color: #ABABAB;
    width: 575px;
    height: 30px;
}

 .campo-emblema-da-equipe{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50px;
    width:570px
} 

input[type='file']{
display: none;
}

.botao-selecionar-imagem label{
    background-color: #ABABAB;
    color: #000;
    width: 146px;
    height: 30px;
    text-align: center;
}

.botao-cadastrar{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    background-color: #FF8500;
    border-radius: 10px;
    height: 50px;
    width: 370px;
}

.campo-listas h2{
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 45px;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.tabela-times{
    border: 2px solid #fff;
    height: 210px;
    width: 800px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.titulos1 td{
    border-bottom: 2px solid #fff;
    background-color: #010101;
}

table, td {
    border-collapse: collapse;
    padding: 18px 22px;
}

/* TELA DE CADASTRO JOGADOR  */
.banner-cadastro{
background: rgb(0,0,0);
background: linear-gradient(3deg, rgba(0,0,0,0.8883753330433736) 0%, rgba(255,98,0,0.4895518036316089) 100%), url(../assets/Rectangle\ 5.png);
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 280px;
}    

.box-banner1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.box-conteudo-banner1 h1{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    width:434px;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.container-cadastro-jogadores{
    background-color: #1E1C21;
    width: 100%;
    height: 1115px;
}

.organizar-campo{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.campo-de-cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 770px;
    height: 629px;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
    padding-top: 35px;
    padding-bottom: 35px;
}

.campo-de-cadastro label{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.area-de-cadastro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 53px;
}

.box-nomedaequipe{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 53px;
}

.box_equipe{
    margin: 100px 0;
}

.box-cadastrar1{
    background-color: #ABABAB;
    width: 575px;
    height: 30px;
}

.lista-times{
    margin-top: 40px;
}

.lista-times h2{
    color: #fff;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 45px;
    font-weight: 700;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.tabela-de-times{
    border: 2px solid #fff;
    height: 210px;
    width: 800px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}